<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <div class="container">
        <a href="#" class="navbar-brand">DashBoard</a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="is-active" routerLink="/users">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="is-active" routerLink="/account"><i class="fa fa-user"></i></a>
            </li>
        </ul>
    </div>
</nav>


<div class="container mt-3">
    <router-outlet></router-outlet>
</div>
